<!doctype html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="google" content="notranslate">
<meta http-equiv="Content-Language" content="en">

<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />

<title>{{ title }}</title>

{% block head %}

<!-- Bootstrap -->
{% block bootstrap %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" />
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" defer async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js" defer async></script>
{% endblock bootstrap %}

<!-- plotly.js -->
{% block plotly %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.51.1/plotly.min.js" crossorigin="anonymous" defer async></script>
{% endblock plotly %}

{% endblock head %}

<style>
    [v-cloak] {
        display: none;
    }
    .text-smaller {
        font-size: smaller;
    }
    .opacity-1 { opacity: 0.1 }
    .opacity-2 { opacity: 0.2 }
    .opacity-3 { opacity: 0.3 }
    .opacity-4 { opacity: 0.4 }
    .opacity-5 { opacity: 0.5 }
    .opacity-6 { opacity: 0.6 }
    .opacity-7 { opacity: 0.7 }
    .opacity-8 { opacity: 0.8 }
    .opacity-9 { opacity: 0.9 }
</style>

{% block    style %}
{% endblock style %}

</head>

<body>

{% block    header %}
{% endblock header %}

{% block    content %}
{% endblock content %}

{% block    footer %}
{% endblock footer %}


<!-- Vue.js -->
{% block    js_vuejs %}
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
{% endblock js_vuejs %}


<!-- axios -->
{% block js_axios %}
<script>
function __$axiosSettings__(){
    axios.defaults.xsrfCookieName  = 'csrftoken';
    axios.defaults.xsrfHeaderName  = 'X-CSRFTOKEN';
    axios.defaults.withCredentials = true;
    axios.defaults.headers.post ['Content-Type'] = 'multipart/form-data';
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" onload='__$axiosSettings__()'></script>
{% endblock js_axios %}

{% block js %}
{% endblock js %}

</body>
</html>
