{% extends 'base.html' %}

{% block content %}

<style>
/* {% include 'attendance/index.css' %} */
</style>


<div id='app' class='container' v-cloak>
<div class='row'>
<div class='col col-4 offset-4'>

<h5 class='font-weight-bold mt-5 mb-4'>
    <span>Venue: </span>
    &emsp;
    <span class='text-primary'>{{ venue.name }}</span>
</h5>


<form method='post'>
    <div class='form-group'>
        <label>Name</label>
        <input
            class='form-control'
            name='name'
            v-model.trim='model.name'
        >
    </div>

    <div class='form-group'>
        <label>Contact number</label>
        <input
            class='form-control'
            type='tel'
            name='tel'
            v-model.trim='model.tel'
            @keyup.enter='submit()'
        >
    </div>

    <button
        class='btn mt-2'
        :class='{
            "btn-outline-secondary": submitDisabled,
            "btn-primary": !submitDisabled,
        }'
        type='button'
        :disabled='submitDisabled'
        @click='submit()'
    >
        Submit
    </button>

    <input
        type='hidden'
        name='venue'
        value='{{ venue.id }}'
    >

    <input
        type='hidden'
        name='data'
        v-model='data'
    >

    {% csrf_token %}
</form>

</div>
</div>
</div>
{% endblock content %}


{% block js %}
<script>'use strict';
// {% include 'attendance/index.js' %}
</script>
{% endblock js %}
