{% extends 'base.html' %}

{% block content %}

<style>

</style>


<div id='app' class='container'>
<div class='row' style='height:80vh'>
<div class='col col-6 offset-3 my-auto text-center'>

    <h5 class='font-weight-bold' style='line-height:2em;'>{{ verse }}</h5>

    <a  class='btn btn-outline-primary btn-sm mt-5'
        href='{% url "attendance" venue_id=venue_id %}'
    >Back
    </a>



</div>
</div>
</div>
{% endblock content %}


{% block js %}
<script>'use strict';

</script>
{% endblock js %}
