{% extends 'base.html' %}

{% block content %}

<style>
/* {% include 'index/index.css' %} */
</style>


<div id='app' class='container' v-cloak>
<div class='row'>
<div class='col col-4 offset-4'>

    <div class='list-group mt-5'>
        <div class='list-group-item active font-weight-bold'>Contact Tracing</div>
        {% for item in venues %}
            <a class='list-group-item index--hover' href='/contact-tracing/{{ item.id }}/'>{{ item.name }}</a>
        {% endfor %}

</div>
</div>
</div>


</div>
{% endblock content %}


{% block js %}
<script>'use strict';
// {% include 'index/index.js' %}
</script>
{% endblock js %}
